body {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 24px;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

h4 {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
}

.container {
	margin: 0 auto;
	width: 940px;
}

/*************************************************/
/********************HEADER***********************/
/*************************************************/
.top-header {
	background-color: #293449;
}

	.top-header a {
		color: #fff;
	}

.top-header-left {
	float: left;
	width: 490px;
}

.link-techmarket {
	display: block;
	position: relative;
	float: left;
	background-color: #ee3643;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	padding: 8px 50px;
}

.link-techmarket:hover {
	background-color: #ca2c37;
}

.link-techmarket:active {
	background-color: #ba2732;
}

.link-techmarket:after {
	position: absolute;
	display: block;
	content: "";
	height: 5px;
	width: 100%;
	bottom: -5px;
	left:0;
	right: 0;
	background-color: #b52933;
}

.header-search {
	float: right;
	padding: 12px 61.8px;
	margin: 0;
	border: none;
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
	color: #fff;
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search:focus {
	background-color: #fff;
	color: #000;
	outline: none;
}

.top-header-right {
	float: right;
	width: 450px;
}

	.top-header-right a {
		float: left;
		display: block;
		width: 33%;
		padding: 12.5px 0;
		text-align: center;
		text-decoration: none;
		font-size: 17px;
		line-height: 18px;
		color: #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.top-header-right a:hover {
		background-color: #212a3a;
	}

	.top-header-right a:active {
		background-color: #161d29;
	}

.green-header-link {
	background-color: #63a63e;
}

a.green-header-link:hover {
	background-color: #5fbb2d;
}

a.green-header-link:active {
	background-color: #518534;
}

.menu-header {
	background-color: #f1f5f7;
	padding-bottom: 60px;
}

a.menu-header {
	background-color: #f2f6f8;
}

 .middle-header h4 {
 		float: left;
 		width: 300px;
 		color: #ee3643;
 		margin: 0;
 		padding: 43px 48px;
 		-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
 		box-sizing: border-box;
 }

.header-contacts {
	float: left;
	width: 340px;
}

.header-phone {
	display: block;
	margin: 46px 50px 0 20px;
	padding: 9px 40px 9px 70px;
	font-size: 21px;
	line-height: 16.93px;
	color: #e9292a;
	border: 3px solid #fff;
}

.header-adress {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin: 0;
	margin-left: 30px;
	margin-top: 5px;
}

.header-authorization {
	float: right;
	width: 300px;
}

.header-btn {
	display: block;
	float: left;
	background-color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-weight: 18px;
	color: #000;
	margin-top: 46px;
	margin-left: 20px;
	padding: 10.5px 27px;
}

.header-btn:hover {
	color: #ee3643;
}

.header-btn:active {
	color: rgba(0, 0, 0, 0.28);
}

.main-navigation {
	margin: 0;
	padding: 0;
	background-color: #32425c;
	list-style-type: none;
	font-size: 0;
	border-bottom: 5px solid #293449;
}

	.main-navigation li {
		display: inline-block;
	}

	.main-navigation a {
		display: block;
		color: #fff;
		text-decoration: none;
		font-size: 17px;
		line-height: 17px;
		padding: 19px 33.6px;
	}

	.main-navigation a:hover {
		background-color: #293449;
	}

	.main-navigation a:active {
		color: rgba(255, 255, 255, 0.5);
	}

	.main-header{
		margin-bottom: 55px;
	}

/*************************************************/
/*********************FOOTER**********************/
/*************************************************/
footer {
	color: #fff;
}

.footer-top {
	background-color: #32425c;
}

	.footer-top a {
		color: #fff;
	}

.footer-top-left {
	float: left;
	width: 370px;
}

	.footer-top-left p {
		display: block;
		margin: 0;
		font-size: 18px;
		line-height: 24px;
	}

	.footer-top-left p:last-child {
		margin-bottom: 52px;
	}

.link-techmarket-footer {
	float: none;
	font-size: 30px;
	line-height: 30px;
	width: 220px;
	padding: 17px 0;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.footer-top-right {
	float: right;
	width: 570px;
}

.footer-navigation {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-top: 40px;
}

	.footer-navigation li {
		display: inline-block;
	}

	.footer-navigation a {
		color: #f1f5f7;
		text-decoration: none;
		font-size: 18px;
		line-height: 24px;
		margin: 0 48.4px 0 10px;
	}

	.footer-navigation a:hover {
		text-decoration: underline;	
	}

	.footer-navigation a:active {
		opacity: .5;
		text-decoration: none;
	}

	.footer-navigation li:last-child a {
		margin-right: 0;
	}

.footer-navigation-orange {
	margin-top: 28px;
}

	.footer-navigation-orange a {
		color: #ffd180;
	} 

	.footer-navigation-orange li:first-child a {
		margin-left: 36px;
	}

.footer-down {
	background-color: #293449;
}

	.footer-down a {
		color: #fff;
	}

.footer-down-item {
	float: left;
	width: 33%;
	margin-top: 38px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 18px;
}

.footer-copyright p  {
	display: block;
	margin: 0;
	width: 230px;
}

.footer-social {
	font-size: 0;
	text-align: center;
}

.footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #212a3a;
	border-radius: 50%;
	margin-right: 5px;
}

.footer-social a:hover {
	background-color: #ee3643;
}


.footer-credits {
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-credits p {
	margin: 0;
}

.footer-credits a {
	color: #ffd180;
	text-decoration: none;
}

.footer-credits a:hover {
	text-decoration: underline;
}

.footer-credits a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-mail {
	float: left;
	width: 65%;
}

.footer-develop {
	float: right;
	width: 35%;
}

/*************************************************/
/********************MAIN-PAGE********************/
/*************************************************/

.category-item {
	width: 300px;
	float: left;
	min-height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 23px 12px;
	background-color: #f6b22d;
}

.category-item:nth-of-type(3n){
	margin-right: 0;
}

.category-item:nth-of-type(5){
	margin-right: 0;
}

	.category-item h3 {
		margin: 0;
		color: #fff;
		font-size: 24px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 10px;
	}

.btn {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding:10px 22px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #dda028;
	border-radius: 3px;
	text-align: center;
}

.btn:hover {
	background-color: #c58e24;
}

.btn:active {
	background-color: #ac7c1f;
}

.btn-item {
	width: 135px;
}

.category-item-instruments {
	background-color: #4aafde;
}

.category-item-instruments .btn {
	background-color: #429dc7;
}

.category-item-instruments .btn:hover {
	background-color: #3b8cb2;
}

.category-item-instruments .btn:active {
	background-color: #347a9b;
}

.category-item-technics {
	background-color: #cc79d1;
}

.category-item-technics .btn {
	background-color: #b76dbc;
}

.category-item-technics .btn:hover {
	background-color: #a361a7;
}

.category-item-technics .btn:active {
	background-color: #8e5492;
}

.category-item-discounts {
	background-color: #85d179;
}

.category-item-discounts .btn {
	background-color: #77bc6d;
}

.category-item-discounts .btn:hover {
	background-color: #6aa761;
}

.category-item-discounts .btn:active {
	background-color: #5d9254;
}

.big-category-item {
	width: 620px;
	min-height: 266px;
	padding-top: 25px;
	background: url(../img/big-item-1.jpg) no-repeat;
}

.big-category-item h3 {
	font-size: 36px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 5px;
}

.big-category-item p {
	margin: 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 125px;
}

.big-category-item .btn {
	width: 195px;
	background-color: #ee3643;
}

.big-category-item .btn:hover {
	background-color: #ca2c37;
}

.big-category-item .btn:active {
	background-color: #ba2732;
}

.popular-header {
	background-color: #f7f3ec;
}

 	.popular-header h2 {
 		width: 65%;
 		float: left;
 	}

  .popular-header .btn-popular {
 		width: 35%;
 		float: right;
 	}

.catalog-item {
 	float: left;
 	width: 220px;
 	height: 316px; /* Временно */
 	outline: 1px solid red;
}

.item-company {
	float: left;
	width: 220px;
	outline: 1px solid red;
}

.services-features {
	background-color: #f2f6f8;
}

	.features-left {
		padding: 0;
		margin: 0;
		float: left;
		width: 240px;
	}

	.features-right {
		float: right;
		width: 700px;
	}

.company-description {
	float: left;
	width: 640px;
}

.contacts {
	float: right;
	width: 300px;
}

/*************************************************/
/********************CATALOG**********************/
/*************************************************/

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

	.breadcrumbs li {
		display: inline-block;
	}

.catalog-name {
	background-color: #f2f6f8;
}

.catalog-filter {
	float: left;
	width: 240px;
}

.catalog-right {
	float: right;
	width: 700px;
}

.search-filter {
	background-color: #f7f3ec;
}

.filter-left-wrapper {
	float: left;
	width: 640px;
}

	.filter-left-wrapper  .sort {
		display: block;
		float: left;
	}

	.filter-left-wrapper  ul {
		float: left;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.filter-left-wrapper li {
		display: inline-block;
	}

.arrows {
	float: right;
	width: 60px;
}

.paginator {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

	.paginator li {
		display: inline-block;
	}

.description {
	background-color: #f2f6f8;
}