@charset "UTF-8";

 @font-face {
  font-family: 'symbols-technomart';
  src: url('../font/symbols-technomart.eot?22619757');
  src: url('../font/symbols-technomart.eot?22619757#iefix') format('embedded-opentype'),
       url('../font/symbols-technomart.woff?22619757') format('woff'),
       url('../font/symbols-technomart.ttf?22619757') format('truetype'),
       url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-technomart';
    src: url('../font/symbols-technomart.svg?22619757#symbols-technomart') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-left:before { content: '\3c'; } /* '&lt;' */
.icon-right:before { content: '\3e'; } /* '&gt;' */
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up:before { content: '\2c4'; } /* '˄' */
.icon-down:before { content: '\2c5'; } /* '˅' */
.icon-left-big:before { content: '\2190'; } /* '←' */
.icon-right-big:before { content: '\2192'; } /* '→' */
.icon-login:before { content: '\2386'; } /* '⎆' */
.icon-logout:before { content: '\241b'; } /* '␛' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-star:before { content: '\2605'; } /* '★' */s
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-youtube:before { content: '\f39e'; } /* '' */
.icon-home:before { content: '\1f3e0'; } /* '\1f3e0' */
.icon-user:before { content: '\1f468'; } /* '\1f468' */
.icon-phone:before { content: '\1f4de'; } /* '\1f4de' */
.icon-instagramm:before { content: '\1f4f7'; } /* '\1f4f7' */
.icon-search:before { content: '\1f50d'; } /* '\1f50d' */
.icon-bookmark:before { content: '\1f516'; } /* '\1f516' */

body {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

h2 {
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 400;
}

h3 {
	font-weight: 400;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

h4 {
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
}

.container {
	margin: 0 auto;
	width: 940px;
}

/*************************************************/
/********************HEADER***********************/
/*************************************************/
.top-header {
	background-color: #293449;
}

	.top-header a {
		color: #fff;
	}

.top-header-left {
	position: relative;
	float: left;
	width: 490px;
}

.link-techmarket {
	display: block;
	position: relative;
	float: left;
	background-color: #ee3643;
	text-decoration: none;
	font-weight: bold;
	font-size: 24px;
	line-height: 26px;
	text-transform: uppercase;
	padding: 8px 50px;
}

.link-techmarket:hover {
	background-color: #ca2c37;
}

.link-techmarket:active {
	background-color: #ba2732;
}

.link-techmarket:after {
	position: absolute;
	display: block;
	content: "";
	height: 5px;
	width: 100%;
	bottom: -5px;
	left:0;
	right: 0;
	background-color: #b52933;
}

.header-search {
	float: right;
	padding: 12px 56.5px;
	margin: 0;
	border: none;
	font-size: 17px;
	line-height: 18px;
	background-color: #293449;
	color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 274px;
}

.header-search:hover {
	background-color: #212a3a;
}

.header-search:focus {
	background-color: #fff;
	color: #000;
	outline: none;
}

label[class="icon-search"]:before {
	font-size: 17px;
	position: absolute;
	top: 12px;
	left: 245px;
	color: #81868f;
}

.header-search:hover + label[class="icon-search"]:before {
	color: #fff;
}

.header-search:focus + label[class="icon-search"]:before {
	color: #ee3643;
}

.top-header-right {
	float: right;
	width: 450px;
}

	.top-header-right a {
		position: relative;
		float: left;
		display: block;
		width: 33.3%;
		padding: 12.5px 0;
		padding-left: 44px;
		text-decoration: none;
		font-size: 17px;
		line-height: 18px;
		color: #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.top-header-right a:hover {
		background-color: #212a3a;
	}

	.top-header-right a:active {
		background-color: #161d29;
	}

	.top-header-right a:hover:before {
		color: #fff;
	}

	.top-header-right a:active:before {
		color: #a7a8ab;
	}

.bookmark-link:before {
	position: absolute;
	left: 12px;
	color: #81868f;
}

.basket-link:before {
	position: absolute;
	left: 12px;
	color: #81868f;
}

a.green-header-link {
	background-color: #63a63e;
	padding-left: 0;
	text-align: center;
}

a.green-header-link:hover {
	background-color: #5fbb2d;
}

a.green-header-link:active {
	background-color: #518534;
}

.menu-header {
	background-color: #f1f5f7;
	padding-bottom: 60px;
}

a.menu-header {
	background-color: #f2f6f8;
}

 .middle-header h4 {
 		float: left;
 		width: 300px;
 		color: #ee3643;
 		margin: 0;
 		padding: 43px 48px;
 		-webkit-box-sizing: border-box;
 		-moz-box-sizing: border-box;
 		box-sizing: border-box;
 }

.header-contacts {
	float: left;
	width: 340px;
}

.header-phone {
	position: relative;
	display: block;
	margin: 46px 50px 0 20px;
	padding: 9px 40px 9px 70px;
	font-size: 21px;
	line-height: 16.93px;
	color: #e9292a;
	border: 3px solid #fff;
}

.header-phone:before {
	position: absolute;
	color: #81868f;
	left: 35px;
	top: 7px;
}

.header-adress {
	display: block;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
	margin: 0;
	margin-left: 30px;
	margin-top: 5px;
}

.header-authorization {
	float: right;
	width: 300px;
}

.header-profile {
	position: relative;
	float: right;
	width: 300px;
}

.header-profile-name {
	position: relative;
	display: block;
	margin: 0;
	text-align: center;
	font-size: 21px;
	line-height: 18px;
	margin-top: 55px;
	margin-bottom: 20px;
	text-decoration: none;
	color: #000;
}

	.header-profile-name:active {
		color: #b0b0b0;
	}

.header-profile-name:before {
	position: absolute;
	left: 24px;
	top: -1px;
	color: #c5c5c5;
}

.header-profile-name:hover:before {
	color: #101013;
} 

.header-profile-name:active:before {
	color: #b0b0b0;
}

.header-logout {
	text-decoration: none;
	position: absolute;
	font-size: 0;
}

.header-logout:before {
	position: absolute;
	font-size: 24px;
	color: #c5c5c5;
	top: -39px;
	left: 270px;
}

.header-logout:hover:before {
	color: #32425c;
}

.header-logout:active:before {
	color: #c5c5c5;
}

.header-profile-link {
	position: relative;
}

.header-profile-link a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	margin-left: 35px;
}

.header-profile-link a:last-of-type{
	margin-left: 27px;
}

	.header-profile-link a:hover {
		color: #ee3643;
	}

	.header-profile-link a:active {
		color: #b0b0b0;
	}

.header-profile-link:first-of-type:after {
	position: absolute;
	display: block;
	content: '';
	background: #32425c;
	height: 4px;
	width: 4px;
	left: 123px;
	bottom: 7px;
	border-radius: 50%;
}

.header-btn {
	position: relative;
	display: block;
	float: left;
	background-color: #fff;
	text-decoration: none;
	font-size: 21px;
	font-weight: 18px;
	color: #000;
	margin-top: 46px;
	margin-left: 20px;
	padding: 10.5px 27px;
}

.entry-btn {
	padding-left: 34px;
	padding-right: 20px;
}

.header-btn:before {
	position: absolute;
	left: 3px;
	top: 9px;
	color: #c5c5c5;
}

.header-btn:hover {
	color: #ee3643;
}

.header-btn:hover:before {
	color: #32425c;
}

.header-btn:active {
	color: rgba(0, 0, 0, 0.28);
}

.header-btn:active:before {
	color: #c5c5c5;
}

.main-navigation {
	margin: 0;
	padding: 0;
	background-color: #32425c;
	list-style-type: none;
	font-size: 0;
	border-bottom: 5px solid #293449;
}

	.main-navigation li {
		display: inline-block;
	}

	.main-navigation a {
		display: block;
		color: #fff;
		text-decoration: none;
		font-size: 17px;
		line-height: 17px;
		padding: 19px 33.6px;
	}

	.main-navigation a:hover {
		background-color: #293449;
	}

	.main-navigation a:active {
		color: rgba(255, 255, 255, 0.5);
	}

	.main-header{
		margin-bottom: 55px;
	}

	.catalog .main-header {
		margin-bottom: 23px;
	}

/*************************************************/
/*********************FOOTER**********************/
/*************************************************/
footer {
	color: #fff;
}

.footer-top {
	background-color: #32425c;
}

	.footer-top a {
		color: #fff;
	}

.footer-top-left {
	float: left;
	width: 370px;
}

	.footer-top-left p {
		display: block;
		margin: 0;
		font-size: 18px;
		line-height: 24px;
	}

	.footer-top-left p:last-child {
		margin-bottom: 52px;
	}

.link-techmarket-footer {
	float: none;
	font-size: 30px;
	line-height: 30px;
	width: 220px;
	padding: 17px 0;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 30px;
}

.footer-top-right {
	float: right;
	width: 570px;
}

.footer-navigation {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-top: 40px;
}

	.footer-navigation li {
		display: inline-block;
	}

	.footer-navigation a {
		color: #f1f5f7;
		text-decoration: none;
		font-size: 18px;
		line-height: 24px;
		margin: 0 48.4px 0 10px;
	}

	.footer-navigation a:hover {
		text-decoration: underline;	
	}

	.footer-navigation a:active {
		opacity: .5;
		text-decoration: none;
	}

	.footer-navigation li:last-child a {
		margin-right: 0;
	}

.footer-navigation-orange {
	margin-top: 28px;
}

	.footer-navigation-orange a {
		color: #ffd180;
	} 

	.footer-navigation-orange li:first-child a {
		margin-left: 36px;
	}

.footer-down {
	background-color: #293449;
}

	.footer-down a {
		color: #fff;
	}

.footer-down-item {
	float: left;
	width: 33%;
	margin-top: 38px;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 18px;
}

.footer-copyright p  {
	display: block;
	margin: 0;
	width: 230px;
}

.footer-social {
	font-size: 0;
	text-align: center;
}

.footer-social a {
	position: relative;
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: #212a3a;
	border-radius: 50%;
	margin-right: 5px;
	text-decoration: none;
}

.footer-social a:hover {
	background-color: #ee3643;
}

.footer-social a:before {
	position: relative;
	font-size: 18px;
	top: 10px;
}

.footer-credits {
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-credits p {
	margin: 0;
}

.footer-credits a {
	color: #ffd180;
	text-decoration: none;
}

.footer-credits a:hover {
	text-decoration: underline;
}

.footer-credits a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-mail {
	float: left;
	width: 65%;
}

.footer-develop {
	float: right;
	width: 35%;
}

/*************************************************/
/********************MAIN-PAGE********************/
/*************************************************/

.category-item {
	position: relative;
	width: 300px;
	float: left;
	min-height: 123px;
	margin-right: 20px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 23px 12px;
	background-color: #f6b22d;
	overflow: hidden;
}

.category-item:nth-of-type(3n){
	margin-right: 0;
}

.category-item:nth-of-type(5){
	margin-right: 0;
}

	.category-item h3 {
		margin: 0;
		color: #fff;
		font-size: 24px;
		line-height: 30px;
		font-weight: bold;
		margin-bottom: 18px;
	}

.new-element:after {
	position: absolute;
	display: block;
	content:'new';
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 16px;
	height: 28px;
	width: 85px;
	background: #ee3643;
	color: #fff;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 3px;
	transform: rotate(45deg);
	top: 7px;
	right: -21px;
}

.btn {
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 14px;
	line-height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #dda028;
	border-radius: 3px;
	text-align: center;
	height: 38px;
}

.btn:hover {
	background-color: #c58e24;
}

.btn:active {
	background-color: #ac7c1f;
}

.btn-item {
	width: 135px;
}

.category-item-instruments {
	background-color: #4aafde;
}

.category-item-instruments .btn {
	background-color: #429dc7;
}

.category-item-instruments .btn:hover {
	background-color: #3b8cb2;
}

.category-item-instruments .btn:active {
	background-color: #347a9b;
}

.category-item-technics {
	background-color: #cc79d1;
}

.category-item-technics .btn {
	background-color: #b76dbc;
}

.category-item-technics .btn:hover {
	background-color: #a361a7;
}

.category-item-technics .btn:active {
	background-color: #8e5492;
}

.category-item-discounts {
	background-color: #85d179;
	float: right;
}

.category-item-discounts .btn {
	background-color: #77bc6d;
}

.category-item-discounts .btn:hover {
	background-color: #6aa761;
}

.category-item-discounts .btn:active {
	background-color: #5d9254;
}

.category-item-delivery {
	float: right;
	margin-right: 0;
}

.big-category-item {
	position: relative;
	display: none;
	width: 620px;
	min-height: 266px;
	padding-top: 25px;
}

.big-category-item h3 {
	font-size: 36px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 5px;
}

.big-category-item p {
	margin: 0;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 125px;
}

.big-category-item .btn {
	width: 195px;
	background-color: #ee3643;
}

.big-category-item .btn:hover {
	background-color: #ca2c37;
}

.big-category-item .btn:active {
	background-color: #ba2732;
}

.big-category-item:before {
	cursor: pointer;
	content: '\3c'; 
	position: absolute;
	display: block;
	font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: #fff;
  top: 122px;
}

.big-category-item:after {
	cursor: pointer;
	content: '\3e'; 
	position: absolute;
	display: block;
	font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: #fff;
  top: 122px;
  right: 23px;
}

.big-category-1 {
	background: url(../img/big-item-1.jpg) no-repeat;
}

.big-category-2 {
	background: url(../img/big-item-2.jpg) no-repeat;
}


/*SLIDER*/

.slider-radio {
	position: absolute;
	z-index: 10;
	left: 295px;
	bottom: 49px;
}

	.slider-radio label {
	 	display: inline-block;
	 	width:8px;
   	height:8px;
   	margin:0 3px;
   	background:#fff;
   	border:4px solid white;
   	vertical-align:top;
   	border-radius:50%;
   	cursor:pointer;
	}

#radio1:checked ~ .slider-radio label[for="radio1"],
#radio2:checked ~ .slider-radio label[for="radio2"] {
	background: #ee3643;
}

#radio1:checked ~ .big-category-1,
#radio2:checked ~ .big-category-2 {
	display: block;
}

.sprite {
		position: absolute;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    left: 200px;
    bottom: 22px;
}

.sprite-sprite-item-1 {
    width: 44px;
    height: 65px;
    background-position: -5px -5px;
}

.sprite-sprite-item-2 {
    width: 75px;
    height: 61px;
    background-position: -59px -5px;
}

.sprite-sprite-item-3 {
    width: 78px;
    height: 62px;
    background-position: -59px -76px;
}

.sprite-sprite-item-4 {
    width: 59px;
    height: 72px;
    background-position: -147px -5px;
    left: 210px
}

.sprite-sprite-item-5 {
    width: 78px;
    height: 63px;
    background-position: -147px -87px;
}


.category-items {
	position: relative;
	margin-bottom: 35px;
}

.popular-header {
	background-color: #f7f3ec;
	margin-bottom: 20px;
}

 	.popular-header h2 {
 		display: block;
 		width: 60%;
 		float: left;
 		font-size: 30px;
 		line-height: 30px;
 		font-weight: normal;
 		text-transform: uppercase;
 		margin: 30px;
 		margin-right: 0;
 	}

  .popular-header .btn-popular {
 		width: 253px;
 		float: right;
 		margin-top: 25px;
 		margin-right: 24px;
 		background-color: #ee3643;
 	}

 	.btn-popular:hover {
 		background-color: #ca2c37;
 	}

 	.btn-popular:active {
 		background-color: #ba2732;
 	}

 .popular-items {
 	margin-bottom: 20px;
 }

.catalog-item {
	position: relative;
 	float: left;
 	width: 218px;
	min-height: 316px;
	border: 1px solid #e5e5e5;
 	margin-right: 20px;
 	overflow: hidden;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

	.catalog-item p {
		font-family: "PT Sans", Arial, sans-serif;
		font-weight: bold;
	}

	.catalog-item:hover {
	-webkit-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	-moz-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	-ms-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	-o-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	}

.item-name {
	margin: 0;
	display: block;
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	padding: 0 15px 10px;
}

.old-price {
	margin: 0;
	text-align: center;
	font-size: 17px;
	line-height: 18px;
	text-decoration: line-through;
	color: #999999;
}

.price {
	position: absolute;
	display: block;
	text-align: center;
	font-size: 17px;
	line-height: 18px;
	width: 122px;
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #ee3643;
	color: #fff;
	padding: 10px 0;
	padding-left: 14px;
	border-radius: 3px 0 0 3px;
	bottom: 20px;
	margin: 0;
	left: 50%;
	margin-left: -67px;
}

	.price:after {
		display: block;
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border: 19px solid transparent;
		border-left: 19px solid #ee3643;
		right: -37px;
		top: 0;
	}

.item-actions {
	display: none;
	position: absolute;
	left: 42px;
	top: 43px;
}

	.item-actions .btn {
		width: 135px;
		background-color: #63a63e;
		border-bottom: 3px solid #367315;
		margin-bottom: 8px;
	}

	.item-actions .buy:before {
		position: absolute;
		font-size: 17px;
		color: #9cc38a;
		top: 9px;
		left: 10px;
	}

	.item-actions .buy:hover {
		background: #5fbb2d;
	}

	.item-actions .buy:hover:before {
		color: #fff;
	}

	.item-actions .buy:active {
		background: #518534;
		border-bottom: none;
	}

	.item-actions .buy:active:before {
		color: #fff;
	}

	.item-actions .bookmark {
		background: transparent;
		color: #32425c;
		border: 3px solid #63a63e;
		line-height: 32px;
	}

	.item-actions .bookmark:hover {
		border-color: #32425c;;
	}

	.item-actions .bookmark:active {
		border-color: #c1c6ce;
		color: #c1c6ce;
	}

	.catalog-item:hover img {
		opacity: 0.2;
	}

	.catalog-item:hover .item-actions {
		display: block;
		z-index: 2;
	}

.popular-item-company {
	float: left;
	display: block;
	width: 219px;
	height: 144px;
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
	margin-right: 18.6px;
	font-size: 0;
	background: url(../img/company-item-1.png) no-repeat 50% 50%;
}

	.popular-item-company:nth-of-type(4n) {
		margin-right: 0;
	}

.popular-item-company:nth-of-type(2) {
	background-image: url(../img/company-item-2.png); 
}

.popular-item-company:nth-of-type(3) {
	background-image: url(../img/company-item-3.png); 
}

.popular-item-company:nth-of-type(4) {
	background-image: url(../img/company-item-4.png); 
}

.popular-item-company:nth-of-type(5) {
	background-image: url(../img/company-item-5.png); 
}

.popular-item-company:nth-of-type(6) {
	background-image: url(../img/company-item-6.png); 
}

.popular-item-company:nth-of-type(7) {
	background-image: url(../img/company-item-7.png); 
}

.popular-item-company:nth-of-type(8) {
	background-image: url(../img/company-item-8.png); 
}

.popular-item-company:hover {
	-webkit-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	-moz-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	-ms-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	-o-box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
	box-shadow: 0 0 15px 5px rgba(41, 52, 73, 0.5);
}

.popular-item-company:active {
	-webkit-box-shadow: 0 0 6px 2px rgba(41, 52, 73, 0.5);
	-moz-box-shadow: 0 0 6px 2px rgba(41, 52, 73, 0.5);
	-ms-box-shadow: 0 0 6px 2px rgba(41, 52, 73, 0.5);
	-o-box-shadow: 0 0 6px 2px rgba(41, 52, 73, 0.5);
	box-shadow: 0 0 6px 2px rgba(41, 52, 73, 0.5);
	opacity: .4;
}

.popular:nth-of-type(2) {
	margin-bottom: 65px;
}


.services-features {
	background-color: #f2f6f8;
	margin-bottom: 58px;
}

	.services-features h2 {
		display: block;
		font-weight: normal;
		margin: 0;
		padding-top: 65px;
		margin-bottom: 30px;
	}

	.services-features p {
		display: block;
		width: 400px;
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
		line-height: 24px;
		margin: 0;
		margin-bottom: 70px;
	}

.features-left {
	padding: 0;
	margin: 0;
	float: left;
	width: 240px;
	list-style-type: none;
}

.features-button {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #32425c;
	color: #fff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	border-bottom: 1px solid #293449;
	border-top: 1px solid #405069;
	height: 61px;
	padding: 15px 23px;
}

	.features-button:hover {
		background-color: #293449;
		cursor: pointer;
	}

.features-button-active {
	color: #32425c;
	background-color: #fff;
	border: none;
}

	.features-button-active:hover {
		cursor: auto;
		background-color: #fff;
	}

	.separator {
		position: relative;	
		z-index: 2;
		right: 10px;	
		bottom: 40px;
	}

.features-right {
	display: none;
	float: right;
	width: 620px;
	min-height: 277px;
	background: url(../img/car.png) no-repeat right; 
}

	.features-right h2 {
		padding-top: 0;
		margin: 0;
		font-size: 36px;
		line-height: 24px;
		color: #32425c;
	}

	.features-right p {
		margin-top: 35px;
		display: block;
		width: 275px;
	}

.features-right-1 {
	background: url(../img/car.png) no-repeat right; 
}

.features-right-2 {
	background: url(../img/garanty.png) no-repeat right; 
}

.features-right-3 {
	background: url(../img/credit.png) no-repeat right; 
}

.features-active {
	display: block;
}

.features {
	padding-bottom: 10px;
}

.company-description {
	float: left;
	width: 640px;
}

	.company-description p {
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
		line-height: 24px;
		width: 520px;
		margin-top: 27px;
	}

.transport-companies {
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-bottom: 38px;
}
	.transport-companies li {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 18px;
		margin-left: 36px;
	}

	.transport-companies li:before {
		position: relative;
		display: block;
		content: '';
		height: 2px;
		width: 25px;
		background-color: #fb565a;
		top: 11px;
		right: 35px;
	}

	.company-description p:nth-of-type(2) {
		width: 390px;
		margin-bottom: 15px;
	}

.btn-company-description {
	background-color: #ee3643;
	width: 220px;
	margin-bottom: 85px;
}

.btn-company-description:hover {
	background-color: #ca2c37;
}

.btn-company-description:active {
	background-color: #ba2732;
}

.contacts {
	float: right;
	width: 300px;
}

	.contacts p {
		font-family: 'PT Sans', Arial, sans-serif;
		font-size: 13px;
		line-height: 24px;
		width: 190px;
		margin-bottom: 35px;
	}

.contact-map {
	margin-bottom: 34px;
}

	.contacts .btn-company-description {
		width: 100%;
	}

/*************************************************/
/********************CATALOG**********************/
/*************************************************/

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-bottom: 22px;
}

	.breadcrumbs li {
		display: inline-block;
		margin-right: 38px;
	}

	.breadcrumbs a {
		position: relative;
		font-family: 'PT Sans', Arial, sans-serif;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 18px;
		text-decoration: none;
		color: #000;
	}

	.breadcrumbs li:first-of-type a {
		font-size: 0;
	}

	.breadcrumbs li:first-of-type a:before {
		font-size: 16px;
		position: absolute;
		color: #ced2d8;
	}

	.breadcrumbs a:after {
		position: absolute;
		display: block;
		content: '';
		height: 6px;
		width: 6px;
		border-right: 2px solid #dbdee2;
		border-bottom: 2px solid #dbdee2;
		top: 4px;
		right: -20px;
		transform: rotate(-45deg);
	}

	.breadcrumbs li:first-of-type a:after {
		right: -30px;
		top: -8px;
	}

.catalog-name {
	background-color: #f2f6f8;
	color: #32425c;
	padding: 30px;
	margin-bottom: 20px;
}

.catalog-filter {
	float: left;
	width: 220px;
}

.catalog-filter p {
	display: block;
	margin: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 17px;
	text-transform: uppercase;
	background-color: #f7f3ec;
	padding: 12px 19px;
	margin-bottom: 15px;
	border-radius: 3px;
}

.catalog-filter fieldset {
	border: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 25px;
	margin-bottom: 22px;
}

.catalog-filter fieldset:last-of-type {
	border-bottom: none;
}

.catalog-filter legend {
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.range {
	position: relative;
	background: #f7f3ec;
	height: 80px;
	margin-bottom: 9px;
	padding-top: 39px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	.range .scale {
		height: 2px;
		width: 170px;
		background: #d7dcde;
		margin-left: 26px;
	}

	.range .scale .bar {
		height: 2px;
		width: 142px;
		background: #00ca74;
	}

	.range .toggle {
		position: absolute;
		width: 4px;
		height: 4px;
		background: #ababab;
		border: 8px solid #fff;
		border-radius: 50%;
		top: 30px;
		left: 20px;
		box-shadow: 0 2px 1px 0 #ababab;
	}

	.range .max-toggle {
		left: 162px;
	}

	.range .toggle:hover {
		cursor: pointer;
		background: #00ca74;
	}

.wrapper-input input{
	position: relative;
	display: block;
	width: 95px;
	height: 38px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	border: none;
	background-color: #f7f3ec;
	border-radius: 3px;
}

.wrapper-input input:focus {
	outline: none;
}

.input-min {
	float: left;
}

.input-max {
	float: right;
}

	.wrapper-input:after {
		position: relative;
		display: block;
		content:'';
		background: #000;
		height: 1px;
		width: 10px;
		top: -20px;
		right: -105px;
	}


input[type="checkbox"] + label , input[type="radio"] + label {
	position: relative;
	display: block;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-left: 35px;
	cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
	display: none;
}

input[type="checkbox"] + label:before {
	position: absolute;
	display: block;
	font-size: 28px;
	content: "\2610";
	font-family: "symbols-technomart";
	color: #c1c1c1;
	left: -35px;
}

input[type="checkbox"]:checked + label:before {
	content: '\2611';
}

input[type="radio"] + label:before {
	position: absolute;
	display: block;
	font-size: 28px;
	content: "\25cb";
	font-family: "symbols-technomart";
	color: #c1c1c1;
	left: -35px;
}

input[type="radio"]:checked + label:before {
	content: '\25cf';
}

input[type="checkbox"] + label:hover:before  , input[type="radio"] + label:hover:before {
	color: #b5b5b5;
}


.catalog-filter button[type="submit"] {
	font-size: 13px;
	line-height: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 38px;
	width: 140px;
	background: #fff;
	border:1px solid #e5e5e5;
	border-radius: 3px;
	outline: none;
}

.catalog-filter button[type="submit"]:hover {
	border-color: #bdc6ca;
}

.catalog-filter button[type="submit"]:active {
	border-color: #ee3643;
}

input[type="checkbox"]:disabled + label, input[type="radio"]:disabled + label {
	color: #eaeaea;
}

input[type="checkbox"]:disabled + label:before, input[type="radio"]:disabled + label:before {
	color: #eaeaea;
}

.catalog-right {
	float: right;
	width: 700px;
}

.search-filter {
	background-color: #f7f3ec;
	border-radius: 3px;
	padding: 11.5px 18px;
	margin-bottom: 20px;
}

.filter-left-wrapper {
	float: left;
	width: 600px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

	.filter-left-wrapper .sort {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		margin-right: 140px;
	}

	.filter-left-wrapper  ul {
		float: left;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.filter-left-wrapper .search-filter-active{
		color: #ee3643;
	}

	.filter-left-wrapper li {
		display: inline-block;
		margin-right: 70px;
	}

	.filter-left-wrapper li:last-of-type {
		margin-right: 0;
	}

	.filter-left-wrapper a {
		text-decoration: none;
		color: rgba(0,0,0,.3);
		border-bottom: 1px dotted #ee3643;
	}

	.filter-left-wrapper a:hover {
		color: #000;
		border-bottom: 1px solid #ee3643;
	}

	.filter-left-wrapper a:active {
		color: #ee3643;
		border-bottom: none;
	}

.arrows {
	float: right;
	width: 60px;
	font-size: 0;
}

.arrows a {
	position: relative;
	color: #c6c2bd;
}

.arrows a:before {
	font-size: 23px;
	text-decoration: none;
	position: absolute;
}

.arrows a:hover:before {
	color: #000;
}

.arrows a:active:before {
	color: #ee3643;
}

.arrows a:last-of-type:before {
	left: 30px;
}

.catalog .catalog-item:nth-child(4n) {
	margin-right: 20px;
}

.catalog .catalog-item:nth-child(3n) {
	margin-right: 0;
	margin-bottom: 20px;
}

.paginator {
	margin: 0;
	padding: 0;
	margin-top: 52px;
	list-style-type: none;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 0;
	text-transform: uppercase;
	line-height: 36px;
	margin-bottom: 128px;
}

	.paginator li {
		font-size: 13px;
		display: inline-block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		height: 38px;
		width: 38px;
		background-color: #ee3643;
		border-radius: 3px;
		color: #fff;
		margin-right: 10px;
		text-align: center;
		vertical-align: middle;
	}

	.paginator a {
		display: block;
		background: #fff;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #e5e5e5;
		border-radius: 2px;
		height: 100%;
		text-decoration: none;
		color: #000;
	}

	.paginator a:hover {
		border-color: #bdc6ca;
	}

	.paginator a:active {
		border-color: #ee3643
	}

	.paginator .paginator-next-link {
		width: 140px;
	}

.description h2 {
	margin: 0;
	margin-bottom: 35px;
}

.description p {
	margin: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin-bottom: 75px;
}

/**********************************************/
/***************WRITE-US-FORM******************/
/**********************************************/

.modal-content {
	display: none;
	position: fixed;
	width: 620px;
	height: 405px;
	top: 50%;
	left: 50%;
	margin-left: -310px;
	margin-top: -215px;
	padding: 45px 80px 0 80px;
	background: #fff;
	z-index: 20;
	border-top: 7px solid #ee3643;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-moz-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-ms-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-o-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-content-close {
	position: absolute;
	width: 21px;
	height: 21px;
	background: url('../img/close.png') no-repeat center;
	top: 9px;
	right: 9px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.modal-content-close:hover {
	opacity: 0.7;
	cursor: pointer;
}

.modal-content-close:active {
	opacity: 1;
}

 .form-name-mail {
	margin-bottom: 20px;
}

.form-name {
	float: left;
	margin-right: 20px;
}

.form-mail {
	float: left;
}

.form-name-mail label {
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 10px;
}

.form-name-mail input {
	border: 2px solid #d7dcde;
	border-radius: 3px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 220px;
	height: 38px;
	padding-left: 14px;
	padding-right: 14px;
}

.form-name-mail input:hover {
	border-color: #a2a9ac;
}


label[for="textarea1"] {
	display: block;
	font-size: 16px;
	font-weight: 700;
	line-height: 18px;
	margin-bottom: 10px;
}

.modal-content textarea {
	border: 2px solid #d7dcde;
	border-radius: 3px;
	font-size: 13px;
	line-height: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 114px;
	padding: 10px 14px;
	margin-bottom: 40px;
}

.modal-content textarea:hover {
	border-color: #a2a9ac;
}

.modal-content-buttons button {
	float: left;
	outline: none;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 220px;
}

.btn-send {
	background: #ee3643;
	margin-right: 20px;
}

.btn-send:hover {
	background: #ca2c37;
}

.btn-send:active {
	background: #ba2732;
}

.btn-cancel {
	background: #f1f1f1;
	color: #000;
}

.btn-cancel:hover {
	background: #e5e5e5;
}

.btn-cancel:active {
	background: #f1f1f1;
} 


/**********************************************/
/*******************MAP-POPUP******************/
/**********************************************/

.modal-map {
	display: none;
	position: fixed;
	width: 940px;
	height: 446px;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -223px;
	background: #fff;
	z-index: 20;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-moz-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-ms-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-o-box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
	-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;
}